# Python
*.pyc
*.pyo
__pycache__/

# Virtual Environment
venv/
env/
.venv/
env.bak/
ENV/
env/
env_bak/
env-deps/

# IDEs
.vscode/
.idea/

# Compiled files
*.pyc
*.pyo
*.pyd

# Logs and databases
*.log
*.sql
*.sqlite
db.sqlite3

# Environment files
.env
